* {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

#articulos {
    border-collapse: collapse;
    width: 100%;
}

#articulos td, #articulos th {
    border: 1px solid #ddd;
    padding: 8px;
}

#articulos tr:nth-child(even){background-color: #def432;}

#articulos tr:hover {background-color: #d7d7c4;}

#articulos th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #171893;
    color: white;
}